.hidden {
  visibility: hidden;
}
.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
  z-index: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.container {
  max-width: 358px;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 4%;
  transform: translate(-50%, -50%);
  padding-left: 36px;
  padding-right: 36px;
}

@media screen and (max-width: 550px) {
  .container {
    padding-left: 22px;
    padding-right: 22px;
    max-width: 290px;
  }
}
.btnClose {
  position: fixed;
  top: -40px;
  right: -40px;
  background-image: url("../../../images/x.png");
  background-repeat: no-repeat;
  background-size: 40px;
  box-sizing: border-box;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
}

.btnClose:hover {
  opacity: 0.6;
  cursor: pointer;
}
.text {
  text-align: center;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: "Oxygen", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 34px 0 54px 0;
  margin: 0;
  text-align: center;
  height: 23px;
}

@media screen and (max-width: 550px) {
  .btnClose {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
    background-size: 22px;
  }
  .title {
    font-size: 18px;
    line-height: 22px;
  }
}
.btnOk {
  background-color: black;
  width: 358px;
  height: 50px;
  color: white;
  margin-top: 48px;

  font-family: Inter;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 48px 0 37px;
}

.btnOk:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .btnOk {
    font-size: 18px;
    line-height: 22px;
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-left: 25px;
  }
}
