.footer {
    padding: 50px 0 60px;
    border-top: double #696969;
  }
  .text {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 1px #cec8c8ab;
    font-size: 18px;
    margin-left: 40px;
 

  }