.about {
  margin-top: 40px;
  display: grid;
  grid-template-areas:
    "img title"
    "img  description";
  grid-gap: 30px;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 2fr;
}
.img {
  grid-area: img;
  background-image: url("../../images/povar.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  max-height: 600px;
  max-width: 600px;
  margin-left: 40px;
  margin-top: 20px;
  transform: rotate(-3deg);
}
.title {
  grid-area: title;
  text-align: center;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 38px;
}
.background {
  grid-area: description;
  background-color: rgba(250, 250, 250, 0.884);
  box-shadow: 0 10px 20px rgba(12, 12, 12, 0.5);
  margin-right: 30px;
  padding: 5px 15px;
  transition: 0.7s;
}
.background:hover {
  transition: 0.7s;
  box-shadow: 0 20px 30px rgba(12, 12, 12, 0.5);
}

.description {
  font-size: 18px;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
}
.text {
  font-weight: 700;
  color: tomato;
}
@media screen and (max-width: 1100px) {
  .about {
    grid-template-areas:
      "img title"
      "description  description";
    grid-gap: 30px;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .img {
    max-width: 300px;
    margin-left: 10px;
  }
  .title {
    align-self: center;
    justify-self: start;
  }
}
